@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ea68fa');
  src:  url('fonts/icomoon.eot?ea68fa#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ea68fa') format('truetype'),
    url('fonts/icomoon.woff?ea68fa') format('woff'),
    url('fonts/icomoon.svg?ea68fa#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-curriculum:before {
  content: "\e900";
}
.icon-quienes:before {
  content: "\e901";
}
.icon-ESTRUCTURA_TEMATICA2:before {
  content: "\e902";
}
.icon-home2:before {
  content: "\e903";
}
.icon-home3:before {
  content: "\e904";
}
.icon-home4:before {
  content: "\e905";
}
.icon-home5:before {
  content: "\e906";
}
.icon-home6:before {
  content: "\e907";
}
.icon-social1:before {
  content: "\e908";
}
.icon-social2:before {
  content: "\e909";
}
.icon-social3:before {
  content: "\e90a";
}
.icon-social4:before {
  content: "\e90b";
}
.icon-SOCIAL_5:before {
  content: "\e90c";
}
.icon-tel:before {
  content: "\e90d";
}
.icon-servicio1:before {
  content: "\e90e";
}
.icon-servicio2:before {
  content: "\e90f";
}
.icon-servicio3:before {
  content: "\e910";
}
.icon-servicio4:before {
  content: "\e911";
}
.icon-servicio:before {
  content: "\e912";
}
.icon-pubilcacion:before {
  content: "\e913";
}
.icon-equipo:before {
  content: "\e914";
}
.icon-contacto1:before {
  content: "\e915";
}
.icon-contacto2:before {
  content: "\e916";
}
.icon-contacto3:before {
  content: "\e917";
}
.icon-alianza1:before {
  content: "\e918";
}
.icon-alianza2:before {
  content: "\e919";
}
.icon-PDF:before {
  content: "\e91a";
}
.icon-MAIL:before {
  content: "\e91b";
}
.icon-LOCATION:before {
  content: "\e91c";
}
.icon-ALCANCE:before {
  content: "\e95d";
}
.icon-CONTRATANTE:before {
  content: "\e95e";
}
.icon-DURACION:before {
  content: "\e95f";
}
.icon-FECHA_CIERRE:before {
  content: "\e960";
}
.icon-LUPA:before {
  content: "\e961";
}
.icon-METODO:before {
  content: "\e962";
}
.icon-OBJETIVOS:before {
  content: "\e963";
}
.icon-PAIS:before {
  content: "\e964";
}
.icon-PRODUCTOS:before {
  content: "\e965";
}
.icon-TERRITORIO:before {
  content: "\e966";
}
.icon-AMBIENTAL:before {
  content: "\e967";
}
.icon-CIENCIA_TEC:before {
  content: "\e968";
}
.icon-DISCOS:before {
  content: "\e969";
}
.icon-ECONOMICOS:before {
  content: "\e96a";
}
.icon-ESTRUCTURA_TEMATICA:before {
  content: "\e96b";
}
.icon-GEOGRAFIA:before {
  content: "\e96c";
}
.icon-HISTORICOS:before {
  content: "\e96d";
}
.icon-INFO_POLITICAS:before {
  content: "\e96e";
}
.icon-LUPA_SEARCH_BAR:before {
  content: "\e96f";
}
.icon-MAPAS:before {
  content: "\e970";
}
.icon-MOVILIDAD:before {
  content: "\e971";
}
.icon-PLANES:before {
  content: "\e972";
}
.icon-POLITICOS:before {
  content: "\e973";
}
.icon-PUBLICAS:before {
  content: "\e974";
}
.icon-REVISTAS:before {
  content: "\e975";
}
.icon-SOCIAL:before {
  content: "\e976";
}
.icon-SUELO_URBANO:before {
  content: "\e977";
}
.icon-TERRITORIALES:before {
  content: "\e978";
}
.icon-TERRITORIALES2:before {
  content: "\e979";
}
.icon-2:before {
  content: "\e97a";
}
.icon-3:before {
  content: "\e97b";
}
.icon-4:before {
  content: "\e97c";
}
.icon-CIENCIA_TEC2:before {
  content: "\e97d";
}
.icon-COLABORACION:before {
  content: "\e97e";
}
.icon-DISCOS2:before {
  content: "\e97f";
}
.icon-ICON_1:before {
  content: "\e980";
}
.icon-ICON_6:before {
  content: "\e981";
}
.icon-MOVILIDAD2:before {
  content: "\e982";
}
.icon-PLANES2:before {
  content: "\e983";
}
.icon-1:before {
  content: "\e9c4";
}
.icon-ICONO_TACHE:before {
  content: "\e9c5";
}
.icon-MOVILIDAD3:before {
  content: "\e9c6";
}
.icon-ARROW_SLIDER:before {
  content: "\e9c7";
}
.icon-earth2:before {
  content: "\e9cb";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-menu:before {
  content: "\ea7a";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-internacional:before {
  content: "\e9ca";
}
.icon-nacional:before {
  content: "\e9cc";
}

